paper/*.aux
paper/*.log
paper/*.out
paper/Melnikov2022StochasticNewtonWithArbitrarySampling.bbl
paper/Melnikov2022StochasticNewtonWithArbitrarySampling.bcf
paper/Melnikov2022StochasticNewtonWithArbitrarySampling.blg
paper/Melnikov2022StochasticNewtonWithArbitrarySampling.run.xml
.idea/
code/.ipynb_checkpoints/

